---
import DownloadButton from "../components/DownloadButton.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ManyCore Visualiser" description="">
  <main>
    <Hero />
    <section id="info" class="grid grid-cols-[50%_40%] px-5">
      <div>
        <h2 class="text-5xl font-bold">What is ManyCore Visualiser?</h2>
        <p class="text-lg text-justify pt-4">
          ManyCore Visualiser is a tool designed to improve the design flow of a
          ManyCore System. It provides various utilities to visualise the state
          of a system directly from a simulation output.
          <br />
          ManyCore Visualiser allows exporting renders of the system as PNG and SVG
          files to easily share and discuss the design with other engineers or include
          it in a publication.
        </p>
      </div>
    </section>
    <section
      id="download"
      class="flex flex-col items-center justify-center bg-zinc-200 py-20 shadow-md"
    >
      <h2 class="text-5xl font-bold">Download</h2>
      <div class="w-1/2 grid md:grid-cols-3 gap-10 pt-10">
        <DownloadButton variant="Windows" />
        <DownloadButton variant="macOS" />
        <DownloadButton variant="Linux" />
      </div>
    </section>
    <section id="manual" class="flex flex-col items-center justify-center">
      <h2 class="text-5xl font-bold">Get the manual</h2>
      <p class="text-lg pt-4">
        The ManyCore Visualier user manual is currently under construction.
        Please check again soon!
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    @apply mt-[20svh];
  }
</style>
